@import "../base/reset";
@import "../utilities/variables";

header{
    background-color: $color-secundario;
    display: flex;
    justify-content: space-between;
    height: 80px;

    .vlc-logo{
        img{
            width: 80px;
        }
    }
    .navbar{
        background-color: $color-secundario !important; 

        .nav-link{
            font: bold;
            
            &hover{
                color: $color-principal;
                border-bottom: 1px solid $color-principal;
            }
        }
    }
}