@import "../base/reset";
@import "../utilities/variables";

header{
    height: 100px;

    .container-fluid{
        background-color: $color-secundario;
        display: block;
        justify-content: space-around;
    
        .navbar-brand{
        img{
            width: 80px;
         }
        }

        .navbar-collapse{
            align-items: center;
            justify-content: right;

            .navbar-nav{
                justify-items: right;

                .nav-link{
                    .nav-link{
                    margin: 5px;
                    }
                }
            }
        }
    }
}