@import "../base/reset";
@import "../utilities/variables";

.grid-container-serv{
    margin:5px;
    display: grid;
    grid-template-columns: repeat(2,1fr); padding: 10px;
    align-items: center;
    align-content: center;
}

@media (max-width:900px){
    .grid-container-serv{
        margin:10px;
        display: grid;
        grid-template-columns: repeat(1,1fr); padding: 10px;
        align-items: center;
        align-content: center;

        .grid-item-serv-3{
            grid-row:4/5;
        }
    }
}