@import "../base/reset";
@import "../utilities/variables";

.grid-container-serv{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    align-items: center;
    align-content: center;
    column-gap: 15px;
    row-gap: 10px;
}

.grid-container-quienes{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    align-content: center;
    column-gap: 15px;
    row-gap: 10px;

    .grid-item-quien-1{
        grid-column: 1/2;
        grid-row: 1/2;
        .quienes-somos01{
            width: 75%;
            height: 50%;
        }
    }

    .grid-item-quien-2{
        grid-column: 1/2;
        grid-row: 2/3;
        .quienes-somos02{
            width: 75%;
            height: 50%;
        }
    }
    .grid-item-quien-3{
        grid-column: 2/3;
        grid-row: 1/3;
    }
}

//MOBILE
@media (max-width:900px){
    .grid-container-serv{
        margin:10px;
        display: grid;
        grid-template-columns: repeat(1,1fr); 
        padding: 10px;
        align-items: center;
        align-content: center;

        .grid-item-serv-3{
            grid-row:4/5;
        }
    }

    .grid-container-quienes{
        margin:10px;
        display: grid;
        grid-template-columns: repeat(1,1fr); 
        padding: 10px;
        align-items: center;
        align-content: center;

        .grid-item-quien-1{
            grid-row:1/3;
            .quienes-somos01{
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }

        .grid-item-quien-2{
            grid-row: 4/5;
        }

        .grid-item-quien-3{
            grid-row:3/4;
        }
    }


}
